In [1]:
%matplotlib inline
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
from sklearn import datasets
from sklearn.feature_selection import RFE
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.naive_bayes import MultinomialNB
import statsmodels.api as sm

data1 = pd.read_csv('E0 (1).csv')
# data2 = pd.read_csv('E0 (2).csv')
# data3 = pd.read_csv('E0 (3).csv')
# data4 = pd.read_csv('E0 (4).csv')
# data5 = pd.read_csv('E0 (5).csv')
# data6 = pd.read_csv('E0 (6).csv')
# data7 = pd.read_csv('E0 (7).csv')
# data8 = pd.read_csv('E0 (8).csv')
# data9 = pd.read_csv('E0 (9).csv')
# data10 = pd.read_csv('E0 (10).csv')
# data11 = pd.read_csv('E0 (11).csv')

# data5 = data5.drop(380) # This dataframe has a extra row blank row

dataframes = [data1]

for ind, data in enumerate(dataframes):
    data['Season'] = "{}/{}".format(18 - ind, 19 - ind)

col_list = ['HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG', 'HTR', 'HS',
            'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'Season']

all_data = pd.concat(dataframes, sort='False')
all_data = all_data[col_list]

def result(HG, AG):
    if HG > AG:
        return -1
    elif HG == AG:
        return 0
    elif HG < AG:
        return 1

all_data['Result'] = all_data.apply(lambda row: result(row.FTHG, row.FTAG), axis = 1) 
print(all_data.shape)
all_data

(380, 18)

,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,AS,HST,AST,HF,AF,HC,AC,Season,Result
0,Man United,Leicester,2,1,H,1,0,H,8,13,6,4,11,8,2,5,18/19,-1
1,Bournemouth,Cardiff,2,0,H,1,0,H,12,10,4,1,11,9,7,4,18/19,-1
2,Fulham,Crystal Palace,0,2,A,0,1,A,15,10,6,9,9,11,5,5,18/19,1
3,Huddersfield,Chelsea,0,3,A,0,2,A,6,13,1,4,9,8,2,5,18/19,1
4,Newcastle,Tottenham,1,2,A,1,2,A,15,15,2,5,11,12,3,5,18/19,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,Liverpool,Wolves,2,0,H,1,0,H,13,7,5,2,3,11,4,1,18/19,-1
376,Man United,Cardiff,0,2,A,0,1,A,26,13,10,4,9,6,11,2,18/19,1
377,Southampton,Huddersfield,1,1,D,1,0,H,10,10,3,3,8,6,4,3,18/19,0
378,Tottenham,Everton,2,2,D,1,0,H,11,17,3,9,10,13,7,4,18/19,0
379,Watford,West Ham,1,4,A,0,2,A,17,16,8,9,10,10,7,2,18/19,1

In [2]:
home_data = all_data.groupby('HomeTeam').sum()
away_data = all_data.groupby('AwayTeam').sum()
home_data['HAS'] = home_data['FTHG'] / 19 # Home Average Scores
home_data['HAC'] = home_data['FTAG'] / 19 # Home Average Conceded
away_data['AAS'] = away_data['FTAG'] / 19 # Away average Scored
away_data['AAC'] = away_data['FTHG'] / 19 # Away Average Conceded
all_data_backup = all_data
all_data
team_data = pd.DataFrame()
team_data['Team'] = home_data.index

team_data = team_data.merge(home_data['HAS'], left_on='Team', right_index=True)
team_data = team_data.merge(home_data['HAC'], left_on='Team', right_index=True)
# team_data = team_data.merge(home_data['HS'], left_on='Team', right_index=True)
# team_data = team_data.merge(home_data['AS'], left_on='Team', right_index=True)

# team_data['AHSH'] = team_data['HS'] / 19 # Average Home Shots Hit
# team_data['AAST'] = team_data['AS'] / 19 # Average Away Shots Taken
# team_data = team_data.drop(['HS', 'AS'], axis=1)

team_data = team_data.merge(away_data['AAS'], left_on='Team', right_index=True)
team_data = team_data.merge(away_data['AAC'], left_on='Team', right_index=True)
# team_data = team_data.merge(away_data['AS'], left_on='Team', right_index=True)
# team_data = team_data.merge(away_data['HS'], left_on='Team', right_index=True)

# team_data['AASH'] = team_data['AS'] / 19 # Average Away Shots Hit
# team_data['AHST'] = team_data['HS'] / 19 # Average Home Shots Taken
# team_data = team_data.drop(['AS', 'HS'], axis=1)


team_data.set_index("Team", inplace=True)
last_season_table= pd.DataFrame(index=team_data.index)
team_data

                     HAS       HAC       AAS       AAC
Team
Arsenal         2.210526  0.842105  1.631579  1.842105
Bournemouth     1.578947  1.315789  1.368421  2.368421
Brighton        1.000000  1.473684  0.842105  1.684211
Burnley         1.263158  1.684211  1.105263  1.894737
Cardiff         1.105263  2.000000  0.684211  1.631579
Chelsea         2.052632  0.631579  1.263158  1.421053
Crystal Palace  1.000000  1.210526  1.684211  1.578947
Everton         1.578947  1.105263  1.263158  1.315789
Fulham          1.157895  1.894737  0.631579  2.368421
Huddersfield    0.526316  1.631579  0.631579  2.368421
Leicester       1.263158  1.052632  1.421053  1.473684
Liverpool       2.894737  0.526316  1.789474  0.631579
Man City        3.000000  0.631579  2.000000  0.578947
Man United      1.736842  1.315789  1.684211  1.526316
Newcastle       1.263158  1.315789  0.947368  1.210526
Southampton     1.421053  1.578947  0.947368  1.842105
Tottenham       1.789474  0.842105  1.736842  1.210526
Watford         1.368421  1.473684  1.368421  1.631579
West Ham        1.684211  1.421053  1.052632  1.473684
Wolves          1.473684  1.105263  1.000000  1.315789

In [3]:
col_list2 = ['HomeTeam', 'AwayTeam']
data_prep = all_data[col_list2]

data_prep = data_prep.merge(team_data['HAS'], left_on='HomeTeam', right_index=True, how='left')
data_prep = data_prep.merge(team_data['HAC'], left_on='HomeTeam', right_index=True, how='left') 
data_prep = data_prep.merge(team_data['AAS'], left_on='AwayTeam', right_index=True, how='left') 
data_prep = data_prep.merge(team_data['AAC'], left_on='AwayTeam', right_index=True, how='left') 

data_prep['HAtS'] = data_prep['HAS'] * data_prep['AAC']; # Home Attack Strength
data_prep['AAtS'] = data_prep['HAC'] * data_prep['AAS']; # Away Attack Strength

print(data_prep.shape)

data_prep = data_prep.merge(all_data['Result'], left_index=True, right_index=True)

fixture_list = data_prep
data_prep

(380, 8)

,HomeTeam,AwayTeam,HAS,HAC,AAS,AAC,HAtS,AAtS,Result
0,Man United,Leicester,1.736842,1.315789,1.421053,1.473684,2.559557,1.869806,-1
1,Bournemouth,Cardiff,1.578947,1.315789,0.684211,1.631579,2.576177,0.900277,-1
2,Fulham,Crystal Palace,1.157895,1.894737,1.684211,1.578947,1.828255,3.191136,1
3,Huddersfield,Chelsea,0.526316,1.631579,1.263158,1.421053,0.747922,2.060942,1
4,Newcastle,Tottenham,1.263158,1.315789,1.736842,1.210526,1.529086,2.285319,1
...,...,...,...,...,...,...,...,...,...
375,Liverpool,Wolves,2.894737,0.526316,1.000000,1.315789,3.808864,0.526316,-1
376,Man United,Cardiff,1.736842,1.315789,0.684211,1.631579,2.833795,0.900277,1
377,Southampton,Huddersfield,1.421053,1.578947,0.631579,2.368421,3.365651,0.997230,0
378,Tottenham,Everton,1.789474,0.842105,1.263158,1.315789,2.354571,1.063712,0
379,Watford,West Ham,1.368421,1.473684,1.052632,1.473684,2.016620,1.551247,1

In [4]:
rm_col_list = ['HomeTeam','AwayTeam']
col_list = data_prep.columns.values.tolist()
col_list = [x for x in col_list if x not in rm_col_list]

to_use = data_prep[col_list]
X = [x for x in col_list if x != 'Result']
Y = [x for x in col_list if x == 'Result']

to_use

          HAS       HAC       AAS       AAC      HAtS      AAtS  Result
0    1.736842  1.315789  1.421053  1.473684  2.559557  1.869806      -1
1    1.578947  1.315789  0.684211  1.631579  2.576177  0.900277      -1
2    1.157895  1.894737  1.684211  1.578947  1.828255  3.191136       1
3    0.526316  1.631579  1.263158  1.421053  0.747922  2.060942       1
4    1.263158  1.315789  1.736842  1.210526  1.529086  2.285319       1
..        ...       ...       ...       ...       ...       ...     ...
375  2.894737  0.526316  1.000000  1.315789  3.808864  0.526316      -1
376  1.736842  1.315789  0.684211  1.631579  2.833795  0.900277       1
377  1.421053  1.578947  0.631579  2.368421  3.365651  0.997230       0
378  1.789474  0.842105  1.263158  1.315789  2.354571  1.063712       0
379  1.368421  1.473684  1.052632  1.473684  2.016620  1.551247       1

[380 rows x 7 columns]

In [5]:
X_data = to_use.drop('Result', axis=1)
Y_data = to_use['Result']

X_train, X_test, Y_train, Y_test = train_test_split(X_data, Y_data, test_size=0.2, random_state=42)

In [7]:
model1 = MultinomialNB()
model1.fit(X_train, Y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [8]:
predicted = model1.predict(X_test)
predicted

array([-1,  1, -1,  1, -1,  1, -1, -1,  1, -1,  1, -1,  1,  1, -1, -1,  1,
       -1,  1,  1, -1, -1, -1, -1, -1, -1,  1,  1, -1, -1, -1, -1,  1, -1,
       -1, -1,  1,  1, -1, -1,  1,  1,  1, -1,  1,  1, -1, -1, -1, -1, -1,
        1, -1, -1, -1, -1,  1,  1, -1, -1, -1, -1,  1, -1, -1, -1,  1,  1,
       -1, -1, -1, -1,  1,  1, -1, -1], dtype=int64)

In [9]:
acc_score = accuracy_score(Y_test, predicted)
print("Accuracy score: " + str(acc_score))
scores = cross_val_score(model1, X_train, Y_train, cv=10)
print("Cross val scores")
print(scores)

Accuracy score: 0.6052631578947368
Cross val scores
[0.58064516 0.67741935 0.67741935 0.70967742 0.53333333 0.63333333
 0.6        0.6        0.66666667 0.6       ]

In [10]:
score_train = model1.score(X_train, Y_train)
score_test = model1.score(X_test, Y_test)

print("Training set accuracy: ", '%.3f'%(score_train))
print("Test set accuracy: ", '%.3f'%(score_test))

Training set accuracy:  0.632
Test set accuracy:  0.605

In [11]:
predicted = model1.predict(X_data)
predicted
predictedDF = pd.DataFrame(predicted, columns=['Predicted'])
predictedDF.head()

   Predicted
0         -1
1         -1
2          1
3          1
4          1

In [12]:
to_use = to_use.merge(predictedDF, left_index=True, right_index=True)
fixture_list = fixture_list.merge(predictedDF, left_index=True, right_index=True)
fixture_list

,HomeTeam,AwayTeam,HAS,HAC,AAS,AAC,HAtS,AAtS,Result,Predicted
0,Man United,Leicester,1.736842,1.315789,1.421053,1.473684,2.559557,1.869806,-1,-1
1,Bournemouth,Cardiff,1.578947,1.315789,0.684211,1.631579,2.576177,0.900277,-1,-1
2,Fulham,Crystal Palace,1.157895,1.894737,1.684211,1.578947,1.828255,3.191136,1,1
3,Huddersfield,Chelsea,0.526316,1.631579,1.263158,1.421053,0.747922,2.060942,1,1
4,Newcastle,Tottenham,1.263158,1.315789,1.736842,1.210526,1.529086,2.285319,1,1
...,...,...,...,...,...,...,...,...,...,...
375,Liverpool,Wolves,2.894737,0.526316,1.000000,1.315789,3.808864,0.526316,-1,-1
376,Man United,Cardiff,1.736842,1.315789,0.684211,1.631579,2.833795,0.900277,1,-1
377,Southampton,Huddersfield,1.421053,1.578947,0.631579,2.368421,3.365651,0.997230,0,-1
378,Tottenham,Everton,1.789474,0.842105,1.263158,1.315789,2.354571,1.063712,0,-1
379,Watford,West Ham,1.368421,1.473684,1.052632,1.473684,2.016620,1.551247,1,-1

In [13]:
last_season_table['Actual Points'] = 0 
last_season_table['Predicted Points'] = 0 

def make_actual_table(x, ht, at, which):
    if x == -1:
        last_season_table.loc[ht, which] += 3
    elif x == 0:
        last_season_table.loc[ht, which] += 1
        last_season_table.loc[at, which] += 1
    elif x == 1:
        last_season_table.loc[at, which] += 3

fixture_list.apply(lambda x: make_actual_table(x.Result, x.HomeTeam, x.AwayTeam, 'Actual Points'), axis=1)
fixture_list.apply(lambda x: make_actual_table(x.Predicted, x.HomeTeam, x.AwayTeam, 'Predicted Points'), axis=1)

0      None
1      None
2      None
3      None
4      None
       ...
375    None
376    None
377    None
378    None
379    None
Length: 380, dtype: object

In [14]:
# 18/19 Season actual table
last_season_table.sort_values(by='Actual Points', ascending=0)

                Actual Points  Predicted Points
Team
Man City                   98               108
Liverpool                  97               105
Chelsea                    72                81
Tottenham                  71                96
Arsenal                    70                81
Man United                 66                84
Wolves                     57                63
Everton                    54                75
West Ham                   52                57
Leicester                  52                72
Watford                    50                51
Crystal Palace             49                57
Bournemouth                45                54
Newcastle                  45                48
Burnley                    40                27
Southampton                39                33
Brighton                   36                24
Cardiff                    34                 9
Fulham                     26                12
Huddersfield               16                 3

In [15]:
# 18/19 Season predicted table
last_season_table.sort_values(by='Predicted Points', ascending =0)

                Actual Points  Predicted Points
Team
Man City                   98               108
Liverpool                  97               105
Tottenham                  71                96
Man United                 66                84
Arsenal                    70                81
Chelsea                    72                81
Everton                    54                75
Leicester                  52                72
Wolves                     57                63
Crystal Palace             49                57
West Ham                   52                57
Bournemouth                45                54
Watford                    50                51
Newcastle                  45                48
Southampton                39                33
Burnley                    40                27
Brighton                   36                24
Fulham                     26                12
Cardiff                    34                 9
Huddersfield               16                 3

In [16]:
# Let's bring in the 19/20 season fixture list and try predicting the current season

curr_season = pd.read_csv("E0.csv")
curr_season['Result'] = curr_season.apply(lambda row: result(row.FTHG, row.FTAG), axis = 1) 
curr_season.append(all_data, sort='False')
curr_season

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,Result
0,E0,09/08/2019,20:00,Liverpool,Norwich,4,1,H,4,0,...,-2.25,1.91,1.99,1.94,1.98,1.99,2.07,1.90,1.99,-1
1,E0,10/08/2019,12:30,West Ham,Man City,0,5,A,0,1,...,1.75,1.95,1.95,1.96,1.97,2.07,1.98,1.97,1.92,1
2,E0,10/08/2019,15:00,Bournemouth,Sheffield United,1,1,D,0,0,...,-0.50,1.95,1.95,1.98,1.95,2.00,1.96,1.96,1.92,0
3,E0,10/08/2019,15:00,Burnley,Southampton,3,0,H,0,0,...,0.00,1.87,2.03,1.89,2.03,1.90,2.07,1.86,2.02,-1
4,E0,10/08/2019,15:00,Crystal Palace,Everton,0,0,D,0,0,...,0.25,1.82,2.08,1.97,1.96,2.03,2.08,1.96,1.93,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,E0,04/12/2019,19:30,Leicester,Watford,2,0,H,0,0,...,-1.50,2.03,1.90,2.05,1.88,2.08,1.95,2.00,1.88,-1
144,E0,04/12/2019,19:30,Man United,Tottenham,2,1,H,1,1,...,0.00,1.88,2.05,1.88,2.05,1.94,2.08,1.87,2.02,-1
145,E0,04/12/2019,19:30,Southampton,Norwich,2,1,H,2,0,...,-0.75,2.00,1.93,2.00,1.93,2.05,1.94,2.00,1.89,-1
146,E0,04/12/2019,19:30,Wolves,West Ham,2,0,H,1,0,...,-0.75,1.88,2.05,1.88,2.05,1.95,2.06,1.87,2.01,-1
147,E0,04/12/2019,20:15,Liverpool,Everton,5,2,H,4,2,...,-0.75,1.83,2.10,1.84,2.10,1.85,2.27,1.80,2.10,-1

In [17]:
curr_home_data = curr_season.groupby('HomeTeam').sum()
curr_away_data = curr_season.groupby('AwayTeam').sum()
curr_home_data['HAS'] = curr_home_data['FTHG'] / 19 # Home Average Scores
curr_home_data['HAC'] = curr_home_data['FTAG'] / 19 # Home Average Conceded
curr_away_data['AAS'] = curr_away_data['FTAG'] / 19 # Away average Scored
curr_away_data['AAC'] = curr_away_data['FTHG'] / 19 # Away Average Conceded
curr_season_backup = curr_season
curr_team_data = pd.DataFrame()
curr_team_data['Team'] = curr_home_data.index

curr_team_data = curr_team_data.merge(curr_home_data['HAS'], left_on='Team', right_index=True)
curr_team_data = curr_team_data.merge(curr_home_data['HAC'], left_on='Team', right_index=True)

curr_team_data = curr_team_data.merge(curr_away_data['AAS'], left_on='Team', right_index=True)
curr_team_data = curr_team_data.merge(curr_away_data['AAC'], left_on='Team', right_index=True)

curr_team_data.set_index("Team", inplace=True)
curr_season_table= pd.DataFrame(index=curr_team_data.index)
curr_team_data = team_data.merge(curr_team_data, on=['HAS', 'HAC', 'AAS', 'AAC'], left_index=True,
                                      right_index=True, how='outer')
curr_team_data

                       HAS       HAC       AAS       AAC
Team
Arsenal           2.210526  0.842105  1.631579  1.842105
Aston Villa       0.526316  0.368421  0.631579  0.894737
Bournemouth       1.578947  1.315789  1.368421  2.368421
Brighton          1.000000  1.473684  0.842105  1.684211
Burnley           1.263158  1.684211  1.105263  1.894737
Cardiff           1.105263  2.000000  0.684211  1.631579
Chelsea           2.052632  0.631579  1.263158  1.421053
Crystal Palace    1.000000  1.210526  1.684211  1.578947
Everton           1.578947  1.105263  1.263158  1.315789
Fulham            1.157895  1.894737  0.631579  2.368421
Huddersfield      0.526316  1.631579  0.631579  2.368421
Leicester         1.263158  1.052632  1.421053  1.473684
Liverpool         2.894737  0.526316  1.789474  0.631579
Man City          3.000000  0.631579  2.000000  0.578947
Man United        1.736842  1.315789  1.684211  1.526316
Newcastle         1.263158  1.315789  0.947368  1.210526
Norwich           0.631579  0.947368  0.210526  0.736842
Sheffield United  0.473684  0.368421  0.421053  0.315789
Southampton       1.421053  1.578947  0.947368  1.842105
Tottenham         1.789474  0.842105  1.736842  1.210526
Watford           1.368421  1.473684  1.368421  1.631579
West Ham          1.684211  1.421053  1.052632  1.473684
Wolves            1.473684  1.105263  1.000000  1.315789

In [18]:
col_list2 = ['HomeTeam', 'AwayTeam']
data_prep = curr_season[col_list2]

data_prep = data_prep.merge(curr_team_data['HAS'], left_on='HomeTeam', right_index=True, how='left')
data_prep = data_prep.merge(curr_team_data['HAC'], left_on='HomeTeam', right_index=True, how='left') 
data_prep = data_prep.merge(curr_team_data['AAS'], left_on='AwayTeam', right_index=True, how='left') 
data_prep = data_prep.merge(curr_team_data['AAC'], left_on='AwayTeam', right_index=True, how='left') 

data_prep['HAtS'] = data_prep['HAS'] * data_prep['AAC']; # Home Attack Strength
data_prep['AAtS'] = data_prep['HAC'] * data_prep['AAS']; # Away Attack Strength

print(data_prep.shape)

data_prep = data_prep.merge(curr_season['Result'], left_index=True, right_index=True)

fixture_list = data_prep
data_prep

(148, 8)

,HomeTeam,AwayTeam,HAS,HAC,AAS,AAC,HAtS,AAtS,Result
0,Liverpool,Norwich,2.894737,0.526316,0.210526,0.736842,2.132964,0.110803,-1
1,West Ham,Man City,1.684211,1.421053,2.000000,0.578947,0.975069,2.842105,1
2,Bournemouth,Sheffield United,1.578947,1.315789,0.421053,0.315789,0.498615,0.554017,0
3,Burnley,Southampton,1.263158,1.684211,0.947368,1.842105,2.326870,1.595568,-1
4,Crystal Palace,Everton,1.000000,1.210526,1.263158,1.315789,1.315789,1.529086,0
...,...,...,...,...,...,...,...,...,...
143,Leicester,Watford,1.263158,1.052632,1.368421,1.631579,2.060942,1.440443,-1
144,Man United,Tottenham,1.736842,1.315789,1.736842,1.210526,2.102493,2.285319,-1
145,Southampton,Norwich,1.421053,1.578947,0.210526,0.736842,1.047091,0.332410,-1
146,Wolves,West Ham,1.473684,1.105263,1.052632,1.473684,2.171745,1.163435,-1
147,Liverpool,Everton,2.894737,0.526316,1.263158,1.315789,3.808864,0.664820,-1

In [19]:
rm_col_list = ['HomeTeam','AwayTeam']
col_list = data_prep.columns.values.tolist()
col_list = [x for x in col_list if x not in rm_col_list]

to_use = data_prep[col_list]
X = [x for x in col_list if x != 'Result']
Y = [x for x in col_list if x == 'Result']

X_data = to_use.drop('Result', axis=1)
Y_data = to_use['Result']

to_use

          HAS       HAC       AAS       AAC      HAtS      AAtS  Result
0    2.894737  0.526316  0.210526  0.736842  2.132964  0.110803      -1
1    1.684211  1.421053  2.000000  0.578947  0.975069  2.842105       1
2    1.578947  1.315789  0.421053  0.315789  0.498615  0.554017       0
3    1.263158  1.684211  0.947368  1.842105  2.326870  1.595568      -1
4    1.000000  1.210526  1.263158  1.315789  1.315789  1.529086       0
..        ...       ...       ...       ...       ...       ...     ...
143  1.263158  1.052632  1.368421  1.631579  2.060942  1.440443      -1
144  1.736842  1.315789  1.736842  1.210526  2.102493  2.285319      -1
145  1.421053  1.578947  0.210526  0.736842  1.047091  0.332410      -1
146  1.473684  1.105263  1.052632  1.473684  2.171745  1.163435      -1
147  2.894737  0.526316  1.263158  1.315789  3.808864  0.664820      -1

[148 rows x 7 columns]

In [20]:
predicted = model1.predict(X_data)
predictedDF = pd.DataFrame(predicted, columns=['Predicted'])
predictedDF.head()

   Predicted
0         -1
1          1
2         -1
3         -1
4          1

In [21]:
to_use = to_use.merge(predictedDF, left_index=True, right_index=True)
fixture_list = fixture_list.merge(predictedDF, left_index=True, right_index=True)
fixture_list

,HomeTeam,AwayTeam,HAS,HAC,AAS,AAC,HAtS,AAtS,Result,Predicted
0,Liverpool,Norwich,2.894737,0.526316,0.210526,0.736842,2.132964,0.110803,-1,-1
1,West Ham,Man City,1.684211,1.421053,2.000000,0.578947,0.975069,2.842105,1,1
2,Bournemouth,Sheffield United,1.578947,1.315789,0.421053,0.315789,0.498615,0.554017,0,-1
3,Burnley,Southampton,1.263158,1.684211,0.947368,1.842105,2.326870,1.595568,-1,-1
4,Crystal Palace,Everton,1.000000,1.210526,1.263158,1.315789,1.315789,1.529086,0,1
...,...,...,...,...,...,...,...,...,...,...
143,Leicester,Watford,1.263158,1.052632,1.368421,1.631579,2.060942,1.440443,-1,-1
144,Man United,Tottenham,1.736842,1.315789,1.736842,1.210526,2.102493,2.285319,-1,1
145,Southampton,Norwich,1.421053,1.578947,0.210526,0.736842,1.047091,0.332410,-1,-1
146,Wolves,West Ham,1.473684,1.105263,1.052632,1.473684,2.171745,1.163435,-1,-1
147,Liverpool,Everton,2.894737,0.526316,1.263158,1.315789,3.808864,0.664820,-1,-1

In [22]:
curr_season_table['Actual Points'] = 0 
curr_season_table['Predicted Points'] = 0 

def make_actual_table(x, ht, at, which):
    if x == -1:
        curr_season_table.loc[ht, which] += 3
    elif x == 0:
        curr_season_table.loc[ht, which] += 1
        curr_season_table.loc[at, which] += 1
    elif x == 1:
        curr_season_table.loc[at, which] += 3

fixture_list.apply(lambda x: make_actual_table(x.Result, x.HomeTeam, x.AwayTeam, 'Actual Points'), axis=1)
fixture_list.apply(lambda x: make_actual_table(x.Predicted, x.HomeTeam, x.AwayTeam, 'Predicted Points'), axis=1)

0      None
1      None
2      None
3      None
4      None
       ...
143    None
144    None
145    None
146    None
147    None
Length: 148, dtype: object

In [23]:
curr_season_table.sort_values(by='Actual Points', ascending =0)

                  Actual Points  Predicted Points
Team
Liverpool                    43                42
Leicester                    35                30
Man City                     32                42
Chelsea                      29                36
Wolves                       23                24
Crystal Palace               21                18
Man United                   21                33
Tottenham                    20                36
Sheffield United             19                18
Arsenal                      19                30
Burnley                      18                 6
Bournemouth                  16                15
Newcastle                    16                15
West Ham                     16                15
Brighton                     15                 9
Aston Villa                  15                18
Southampton                  15                 6
Everton                      14                27
Norwich                      11                 3
Watford                       8                21

In [24]:
curr_season_table.sort_values(by='Predicted Points', ascending =0)

                  Actual Points  Predicted Points
Team
Man City                     32                42
Liverpool                    43                42
Tottenham                    20                36
Chelsea                      29                36
Man United                   21                33
Leicester                    35                30
Arsenal                      19                30
Everton                      14                27
Wolves                       23                24
Watford                       8                21
Crystal Palace               21                18
Aston Villa                  15                18
Sheffield United             19                18
Newcastle                    16                15
Bournemouth                  16                15
West Ham                     16                15
Brighton                     15                 9
Burnley                      18                 6
Southampton                  15                 6
Norwich                      11                 3

In [25]:
curr_team_data = curr_team_data.rename(index={
    'Sheffield United':'Sheffield Utd',
    'Man United': 'Man Utd',
    'Tottenham':'Spurs'
})
print(curr_team_data.index.unique())
curr_team_data

Index(['Arsenal', 'Aston Villa', 'Bournemouth', 'Brighton', 'Burnley',
       'Cardiff', 'Chelsea', 'Crystal Palace', 'Everton', 'Fulham',
       'Huddersfield', 'Leicester', 'Liverpool', 'Man City', 'Man Utd',
       'Newcastle', 'Norwich', 'Sheffield Utd', 'Southampton', 'Spurs',
       'Watford', 'West Ham', 'Wolves'],
      dtype='object', name='Team')

                     HAS       HAC       AAS       AAC
Team
Arsenal         2.210526  0.842105  1.631579  1.842105
Aston Villa     0.526316  0.368421  0.631579  0.894737
Bournemouth     1.578947  1.315789  1.368421  2.368421
Brighton        1.000000  1.473684  0.842105  1.684211
Burnley         1.263158  1.684211  1.105263  1.894737
Cardiff         1.105263  2.000000  0.684211  1.631579
Chelsea         2.052632  0.631579  1.263158  1.421053
Crystal Palace  1.000000  1.210526  1.684211  1.578947
Everton         1.578947  1.105263  1.263158  1.315789
Fulham          1.157895  1.894737  0.631579  2.368421
Huddersfield    0.526316  1.631579  0.631579  2.368421
Leicester       1.263158  1.052632  1.421053  1.473684
Liverpool       2.894737  0.526316  1.789474  0.631579
Man City        3.000000  0.631579  2.000000  0.578947
Man Utd         1.736842  1.315789  1.684211  1.526316
Newcastle       1.263158  1.315789  0.947368  1.210526
Norwich         0.631579  0.947368  0.210526  0.736842
Sheffield Utd   0.473684  0.368421  0.421053  0.315789
Southampton     1.421053  1.578947  0.947368  1.842105
Spurs           1.789474  0.842105  1.736842  1.210526
Watford         1.368421  1.473684  1.368421  1.631579
West Ham        1.684211  1.421053  1.052632  1.473684
Wolves          1.473684  1.105263  1.000000  1.315789

In [26]:
curr_fixtures = pd.read_csv("epl-2019.csv", usecols=['Home Team', 'Away Team'])
curr_fixtures.columns = ['HomeTeam', 'AwayTeam']

curr_fixtures = curr_fixtures.merge(curr_team_data['HAS'], left_on='HomeTeam', right_index=True, how='left')
curr_fixtures = curr_fixtures.merge(curr_team_data['HAC'], left_on='HomeTeam', right_index=True, how='left') 
curr_fixtures = curr_fixtures.merge(curr_team_data['AAS'], left_on='AwayTeam', right_index=True, how='left') 
curr_fixtures = curr_fixtures.merge(curr_team_data['AAC'], left_on='AwayTeam', right_index=True, how='left') 

curr_fixtures['HAtS'] = curr_fixtures['HAS'] * curr_fixtures['AAC']; # Home Attack Strength
curr_fixtures['AAtS'] = curr_fixtures['HAC'] * curr_fixtures['AAS']; # Away Attack Strength

print(curr_fixtures.shape)

fixture_list = curr_fixtures
curr_fixtures

(380, 8)

,HomeTeam,AwayTeam,HAS,HAC,AAS,AAC,HAtS,AAtS
0,Liverpool,Norwich,2.894737,0.526316,0.210526,0.736842,2.132964,0.110803
1,West Ham,Man City,1.684211,1.421053,2.000000,0.578947,0.975069,2.842105
2,Bournemouth,Sheffield Utd,1.578947,1.315789,0.421053,0.315789,0.498615,0.554017
3,Burnley,Southampton,1.263158,1.684211,0.947368,1.842105,2.326870,1.595568
4,Crystal Palace,Everton,1.000000,1.210526,1.263158,1.315789,1.315789,1.529086
...,...,...,...,...,...,...,...,...
375,Leicester,Man Utd,1.263158,1.052632,1.684211,1.526316,1.927978,1.772853
376,Man City,Norwich,3.000000,0.631579,0.210526,0.736842,2.210526,0.132964
377,Newcastle,Liverpool,1.263158,1.315789,1.789474,0.631579,0.797784,2.354571
378,Southampton,Sheffield Utd,1.421053,1.578947,0.421053,0.315789,0.448753,0.664820
379,West Ham,Aston Villa,1.684211,1.421053,0.631579,0.894737,1.506925,0.897507

In [27]:
col_list = [x for x in col_list if x not in ['Result']]
curr_fixtures = curr_fixtures[col_list]
curr_fixtures

          HAS       HAC       AAS       AAC      HAtS      AAtS
0    2.894737  0.526316  0.210526  0.736842  2.132964  0.110803
1    1.684211  1.421053  2.000000  0.578947  0.975069  2.842105
2    1.578947  1.315789  0.421053  0.315789  0.498615  0.554017
3    1.263158  1.684211  0.947368  1.842105  2.326870  1.595568
4    1.000000  1.210526  1.263158  1.315789  1.315789  1.529086
..        ...       ...       ...       ...       ...       ...
375  1.263158  1.052632  1.684211  1.526316  1.927978  1.772853
376  3.000000  0.631579  0.210526  0.736842  2.210526  0.132964
377  1.263158  1.315789  1.789474  0.631579  0.797784  2.354571
378  1.421053  1.578947  0.421053  0.315789  0.448753  0.664820
379  1.684211  1.421053  0.631579  0.894737  1.506925  0.897507

[380 rows x 6 columns]

In [28]:
predicted = model1.predict(curr_fixtures)
predicted
predictedDF = pd.DataFrame(predicted, columns=['Predicted'])
predictedDF.head()

   Predicted
0         -1
1          1
2         -1
3         -1
4          1

In [29]:
fixture_list = fixture_list.merge(predictedDF, left_index=True, right_index=True)
fixture_list

,HomeTeam,AwayTeam,HAS,HAC,AAS,AAC,HAtS,AAtS,Predicted
0,Liverpool,Norwich,2.894737,0.526316,0.210526,0.736842,2.132964,0.110803,-1
1,West Ham,Man City,1.684211,1.421053,2.000000,0.578947,0.975069,2.842105,1
2,Bournemouth,Sheffield Utd,1.578947,1.315789,0.421053,0.315789,0.498615,0.554017,-1
3,Burnley,Southampton,1.263158,1.684211,0.947368,1.842105,2.326870,1.595568,-1
4,Crystal Palace,Everton,1.000000,1.210526,1.263158,1.315789,1.315789,1.529086,1
...,...,...,...,...,...,...,...,...,...
375,Leicester,Man Utd,1.263158,1.052632,1.684211,1.526316,1.927978,1.772853,1
376,Man City,Norwich,3.000000,0.631579,0.210526,0.736842,2.210526,0.132964,-1
377,Newcastle,Liverpool,1.263158,1.315789,1.789474,0.631579,0.797784,2.354571,1
378,Southampton,Sheffield Utd,1.421053,1.578947,0.421053,0.315789,0.448753,0.664820,1
379,West Ham,Aston Villa,1.684211,1.421053,0.631579,0.894737,1.506925,0.897507,-1

In [30]:
final_predicted_table= pd.DataFrame(index=fixture_list.HomeTeam.unique())
final_predicted_table['Predicted Points'] = 0

In [31]:
final_predicted_table['Predicted Points'] = 0 

def make_actual_table(x, ht, at, which):
    if x == -1:
        final_predicted_table.loc[ht, which] += 3
    elif x == 0:
        final_predicted_table.loc[ht, which] += 1
        final_predicted_table.loc[at, which] += 1
    elif x == 1:
        final_predicted_table.loc[at, which] += 3

fixture_list.apply(lambda x: make_actual_table(x.Predicted, x.HomeTeam, x.AwayTeam, 'Predicted Points'), axis=1)

0      None
1      None
2      None
3      None
4      None
       ...
375    None
376    None
377    None
378    None
379    None
Length: 380, dtype: object

In [32]:
final_predicted_table.sort_values('Predicted Points', ascending=0)

                Predicted Points
Man City                     108
Liverpool                    105
Spurs                         96
Man Utd                       78
Chelsea                       75
Arsenal                       75
Everton                       69
Leicester                     66
Sheffield Utd                 57
Wolves                        57
Crystal Palace                51
West Ham                      51
Aston Villa                   51
Watford                       45
Bournemouth                   45
Newcastle                     42
Southampton                   24
Norwich                       18
Burnley                       15
Brighton                      12